@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
body {
    margin: 0;
    overflow: hidden;
    background: url("https://www.xmple.com/wallpaper/blue-gradient-yellow-linear-1920x1080-c2-87cefa-f0e68c-a-270-f-14.svg");
    background-size: cover;
    font-family: 'Alata', sans-serif;
}

#scene, canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container {
    text-align: center;
    width: 100%;
    margin: 30px 0;
}

#loadingScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: white;
}

#spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin: 50px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}