@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
body {
    margin: 0;
    overflow: hidden;
    background: url("https://www.xmple.com/wallpaper/blue-gradient-yellow-linear-1920x1080-c2-87cefa-f0e68c-a-270-f-14.svg");
    font-family: 'Alata', sans-serif;
    overscroll-behavior-y: contain;
}

#scene, canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container {
    text-align: center;
    width: 100%;
    margin: 30px 0;
    user-select: none;
}

#loadingScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: white;
}

#spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin: 50px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#modal {
    margin: 50px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 0 20px 0 gray;
}

#modal h1 {
    margin-top: 0;
}

#modal a {
    display: none;
    text-decoration: none;
    color: white;
    background-color: #6814b5;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
}